@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Podkova&family=Poppins:wght@100;400;500;600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:wght@100;500;700&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#login,
#register {
  /* border: 1px solid #363636; */
  background-color: #fff;
  padding: 1.5em 2em;
  max-width: 33%;
  margin: 2em auto;
}

#login h2,
#register h2 {
  text-align: center;
  font-size: 2.1em;
  margin-top: 0;
}

.subtitle {
  font-weight: bold;
  color: #999;
  margin-bottom: 1.5em;
}

#login form,
#register form {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  /* border-bottom: 1px solid #363636; */
}

#login p,
#register p {
  text-align: center;
}

#login p a,
#register p a {
  font-weight: bold;
  color: #0094f6;
}

.logo {
  display: block;
  text-align: center;
}

.logo img {
  width: 230px;
  margin-bottom: 20px;
}

.wrap-login {
  width: 390px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);  
}

.container-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #575761;
  margin-bottom: 37px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #575761;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #FFBF46, #648381);
  background: -o-linear-gradient(to left, #FFBF46, #648381);
  background: -moz-linear-gradient(to left, #FFBF46, #648381);
  background: linear-gradient(to left, #FFBF46, #648381);
}

.focus-input::after {
  font-size: 15px;
  color: #575761;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;  
}

.container {
  width: 620px;
  margin: 0 auto;
}

.container-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
}

.wrap-login {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  
}

.login-form {
  width: 100%;
}

.logo {
  display: block;
  text-align: center;
}

.logo img {
  width: 230px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #575761;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #575761;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #575761;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #FFBF46, #648381);
  background: -o-linear-gradient(to left, #FFBF46, #648381);
  background: -moz-linear-gradient(to left, #FFBF46, #648381);
  background: linear-gradient(to left, #FFBF46, #648381);
}

.focus-input::after {
  font-size: 15px;
  color: #575761;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #648381;
}

.login-form-btn:hover {
  cursor: pointer;
}

.cadastro-form-btn{
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #575761;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #D9D9D9;
}

.cadastro-form-btn:hover {
  cursor: pointer;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
}

.conta {
  margin-top: 15px;
  color: #648381;
  text-align: center;
}

.dataNascimento {
  color: transparent;
}