.box-card-limit {
    background-color: #ffffff;
    padding: 1.5vw;
    border: solid #575761 0.1vw;
    margin-bottom: 2vw;
    width: 42vw;
  }
  
  .limit-eyes {
    width: 42vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .used-available {
    display: flex;
    justify-content: space-between;
    width: 42vw;
  }
  
  .used {
    background-color: #648381;
    height: 1.2vw;
  }
  
  .available {
    background-color: #E4FDE1;
    height: 1.2vw;
  }

  .img-eyes {
    width: 4vw;
  }

  .h-limit {
    font-size: 1.2vw;
  }

  .p-limit {
    font-size: 1vw;
  }